@{
    ViewData["Title"] = "About";
}
<section id="about" class="d-flex align-items-center">
    <div class="container">
        <h2>@ViewData["Title"]</h2>
        <h3>@ViewData["Message"]</h3>

        <p>Use this area to provide additional information.</p>
        <a href="https:\\www.google.com" target="_blank"><button type="button" class="btn btn-primary">Primary</button> </a>
        </div>
</section>