@{
    ViewData["Title"] = "Мастерская лицензий";
}
<!-- ======= Name Section ======= -->
<div class="jumbotron" style="padding: 4rem 2rem; background: #e9ecef;">
    <div class="container">
        <h1 class="display-3">Мастерская лицензий</h1>
        <p>Данный сайт поможет вам разобраться в механизмах работы лицензий</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Разобраться</a></p>
    </div>
</div><!-- End Name Section -->
<!--two options-->
<div class="container" style="padding: 4rem 2rem;">
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250" style="border-radius: 10px;">
                <div class="card-body d-flex flex-column align-items-start">
                    <h4>
                        <strong class="d-inline-block mb-2" style="color: #238805;">Делитесь</strong>
                    </h4>
                    <h3 class="mb-0">
                        <a class="text-dark" href="#">Подбор лицензии</a>
                    </h3>
                    <div class="mb-1 text-muted"></div>
                    <p class="card-text mb-auto">Если вы создали программу, изображение, музыку, видео и .т.п. и желаете опубликовать это в интернете, подберите наиболее подходящую лицензию для вас.</p>
                    <a asp-controller="Home" asp-action="OfferLicense">
                        <button class="btn btn-primary" style="background: #0d8805; border: 0px;">
                            <b>Поделиться</b> своим контентом
                        </button>
                        </a>
                </div>
                <img class="card-img-right flex-auto d-none d-md-block" alt="Thumbnail [200x250]" style="width: 200px;height: 250px;border-left: 1px #dfdfdf solid;" src="~/images/share.png" data-holder-rendered="true">
            </div>
        </div>
        <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250" style="border-radius: 10px;box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2" style="color: #d04c0d;"></strong><h4>
                        <strong class="d-inline-block mb-2" style="color: #d04c0d;">Используйте<!--4--></strong>
                    </h4>
                    <h3 class="mb-0">
                        <a class="text-dark" href="#">Справочник лицензий</a>
                    </h3>
                    <div class="mb-1 text-muted"></div>
                    <p class="card-text mb-auto">Если вы взяли чужой объект авторского права с общедоступного ресурса и рядом увидили надпись Лицензия и 1 неизвестное слово после, то вам сюда.</p>
                    <a asp-controller="Catalog" asp-action="Index">
                        <button class="btn btn-primary" style="border: 0px;background: #d04c0d;">
                            Использовать чужой контент <b>правильно</b>
                        </button>
                    </a>
                </div>
                <img class="card-img-right flex-auto d-none d-md-block" alt="Thumbnail [200x250]" style="width: 200px;border-left: 1px solid #dfdfdf;height: 250px;" src="~/images/web.png" data-holder-rendered="true">
            </div>
        </div>
    </div>
</div>
<!--End two options-->


<!-- ======= reasons ======= -->
<section id="why-us" class="why-us">
    <div class="container">

        <div class="row">
            <div class="col-lg-4 d-flex align-items-stretch">
                <div class="content">
                    <h3>Зачем вам знать о лицензиях?</h3>
                    <p>
                       Защищать и быть защищённым в области авторского права очень важно если вы создатель каких-либо произведений. 
                    </p>
                    <div class="text-center">
                        <a asp-controller="Home" asp-action="Legal" class="more-btn">Изучить подробнее</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 d-flex align-items-stretch">
                <div class="icon-boxes d-flex flex-column justify-content-center">
                    <div class="row">
                        <div class="col-xl-4 d-flex align-items-stretch border rounded">
                            <div class="icon-box mt-4 mt-xl-0">
                                <i class="bx bx-receipt"></i>
                                <h4>Первая причина</h4>
                                <p>Вы легко сможете оспаривать любые претензии об использованных ресурсах и программах, если воспользовались лицензией.</p>
                            </div>
                        </div>
                        <div class="col-xl-4 d-flex align-items-stretch border rounded">
                            <div class="icon-box mt-4 mt-xl-0">
                                <i class="bx bx-cube-alt"></i>
                                <h4>Вторая причина</h4>
                                <p>Не создавайте заного то, что уже создано, используйте уже существующие произведения, если они вам подходят.</p>
                            </div>
                        </div>
                        <div class="col-xl-4 d-flex align-items-stretch border rounded">
                            <div class="icon-box mt-4 mt-xl-0">
                                <i class="bx bx-images"></i>
                                <h4>Третья причина</h4>
                                <p>Будьте юридически подкованы в вопросах авторского права и всегда будьте уверены, что вы не нарушаете законы в данной области.</p>
                            </div>
                        </div>
                    </div>
                </div><!-- End .content-->
            </div>
        </div>

    </div>
</section><!-- End reasons Section -->


<section id="about" class="about">
    <div class="container">
        <div class="container-fluid">

            <div class="row">
                <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative">
                    <img src="~/images/developers.png" width="550" height="650" style="margin-top: 80px; border-radius:10px;">
                </div>

                <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
                    <h3>Для кого создан этот сайт</h3>
                    <p>Целевая аудитория данного сайта — люди занимающиеся творчеством. Люди данной категории создают новую интелллектуальную собственность каждый день и в больших объёмах. Для создания новых объектов авторского права зачастую используются существующие ресурсы созданные другими людьми или организациями и опубликованные в сети интернет. Чтобы не нарушать законы об авторском праве, на данном сайте создатели контента могут изучить информацию об условиях распространения каждого типа контента без юридических формулировок.</p>

                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-joystick"></i></div>
                        <h4 class="title"><a href="">Разработчики игр</a></h4>
                        <p class="description">Данная категория пользователей часто используют больше всего сторонних ресурсов: текстуры, 3д модели, звуки, шрифты, спрайты, программные модули.</p>
                    </div>

                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-video"></i></div>
                        <h4 class="title"><a href="">Блогеры</a></h4>
                        <p class="description">Блогеры зачастую используют вставки с видео других людей и изображения со стоковых сервисов, где почти всегда указана лицензия распространения и их необходимо соблюдать для предотвращения жалоб на свои каналы.</p>
                    </div>

                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-paint"></i></div>
                        <h4 class="title"><a href="">Художники</a></h4>
                        <p class="description">Художники и дизайнеры в основном используют сторонние ресурсы лишь для референсов, но не для копирования или модифицирования. Но именно эта категория пользователей создаёт новые объекты авторского права и нуждается в правильном указании лицензии распространения. Ведь украсть чужое изображение легче, чем чужую программу или видео.</p>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
<br />
<br />
<br />
