@{
    ViewData["Title"] = "Правовая информация";
}

<section id="about" class="d-flex align-items-center">
    <div class="container">
        <h3><b>@ViewData["Title"]</b></h3>
        <p>
            <h3>Отказ от ответственности</h3>
            Отказ от ответственности - раздел лицензионного соглашения, в котором происходит описание ограничения ответственности.
            <br /> Чаще всего, ограничение ответственности состоит из двух частей:
            <br /> мы не обещаем ничего,
            <br /> мы не отвечаем ни за что
            <br />Иногда бывают исключения из правил. Например, некоторые не коммерческие лицензионные соглашения позволяют пользователю при дальнейшем распространении вписывать новую зону ответственности.
        </p>

        <br />
        <p>
            <h3>Авторское право</h3>
            Авторское право - раздел Гражданского кодекса РФ, описывающий права и обязанности при создании, использовании и т.д. произведения.

            В российском законодательстве этот раздел находится в части четвертой Гражданского кодекса РФ.

            Часто в лицензиях также обозначает законы, схожие с законами об авторском праве, применимые к другим видам произведений, например, топологиям интегральных микросхем. 
            <br />
            <h5>Объекты авторского права</h5>
            <ul>
                <li>литературные произведения,</li>
                <li>драматические и музыкально-драматические произведения, сценарные произведения</li>
                <li>хореографические произведения и пантомимы</li>
                <li>музыкальные произведения с текстом или без текста</li>
                <li>аудиовизуальные произведения</li>
                <li>произведения живописи, скульптуры, графики, дизайна, графические рассказы, комиксы и другие произведения изобразительного искусства,</li>
                <li>произведения декоративно-прикладного и сценографического искусства</li>
                <li>произведения архитектуры, градостроительства и садово-паркового искусства, в том числе в виде проектов, чертежей, изображений и макетов</li>
                <li>фотографические произведения и произведения, полученные способами, аналогичными фотографии</li>
                <li>географические, геологические и другие карты, планы, эскизы и пластические произведения, относящиеся к географии, топографии и к другим наука</li>
                <li>другие произведения науки, литературы и искусства</li>
                <li>программы для ЭВМ</li>
            </ul>
        </p>
        <br />

        <p>
            <h3>Права автора</h3>
            <ul>
                <li>исключительное право на произведение</li>
                <li>право авторства</li>
                <li>право автора на имя</li>
                <li>право на неприкосновенность произведения</li>
                <li>право на обнародование произведения</li>
                <li>право на вознаграждение за использование служебного произведения</li>
                <li>право на отзыв</li>
                <li>право следования</li>
                <li>право доступа к произведениям изобразительного искусства</li>
            </ul>
        </p>
        <br />

        <p>
            <h3>Не являются авторским правом</h3>
            <ul>
                <li>официальные документы государственных органов и органов местного самоуправления муниципальных образований, в том числе законы, другие нормативные акты, судебные решения, иные материалы законодательного, административного и судебного характера, официальные документы международных организаций, а также их официальные переводы</li>
                <li>государственные символы и знаки (флаги, гербы, ордена, денежные знаки и тому подобное), а также символы и знаки муниципальных образований,</li>
                <li>произведения народного творчества (фольклор), не имеющие конкретных авторов</li>
                <li>сообщения о событиях и фактах, имеющие исключительно информационный характер (сообщения о новостях дня, программы телепередач, расписания движения транспортных средств и тому подобное)</li>
                <li>идеи, концепции, принципы, методы, процессы, системы, способы, решения технических, организационных или иных задач, открытия, факты, языки программирования</li>

            </ul>
        </p>
        <br />

    </div>
</section>