@{
    ViewData["Title"] = "Используемые ресурсы";
}


<section id="about" class="d-flex align-items-center">
    <div class="container">
        <h3>@ViewData["Title"]</h3>
        <br />
        Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>

        <div>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>

        <div>Icons made by <a href="" title="smalllikeart">smalllikeart</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>

        <a href=" http://licenseit.ru/wiki/index.php/%D0%97%D0%B0%D0%B3%D0%BB%D0%B0%D0%B2%D0%BD%D0%B0%D1%8F_%D1%81%D1%82%D1%80%D0%B0%D0%BD%D0%B8%D1%86%D0%B0">Текстовая информация о лицензиях</a>

        <br />
        <h3>Бесплатные ресурсы</h3>

        <p>3д модели</p>
        <a href="http://tf3dm.com/">tf3dm</a>
        <a href="www.turbosquid.com">turbosquid</a>
        <a href="https://www.cgstud.io">cgstud</a>
        <p>Текстуры/спрайты</p>
        <a href="http://opengameart.org/">opengameart</a>
        <a href="http://www.freepik.com/free-vectors/textures">freepik</a>
        <p>Шрифты</p>
        <a href="http://ru.fontriver.com/">fontriver</a>
        <p>Музыка</p>
        <a href="https://studio.youtube.com/channel/UCBB34o8fjSe2SoCTAhQWneA/musiс">youtube</a>
        <p>иконки</p>
        <a href="http://ru.freepik.com/free-icons">freepik</a>
        <p>
            Любой тип контента в специальном поисковике Creative Common <br />
            <a href="https://search.creativecommons.org/">Creativecommons Search</a>
        </p>


    </div>
</section>